h1 {
    background-color: rgb(53, 238, 222);
}

body {
    background-color: lightcyan;
}

.Novo2 {
    color: blue;
    margin-right: 200px;
    margin-top: 200px;
    float: right;
}

.novos {
    text-align: center;
}
.Paginanova {
    margin-top: 10px;
    text-align: center;
}

.Novo {
    text-align: end;
}

button {
    background-color: rgb(246, 134, 14);
    color: black;

}