
h1 {
    background-color: rgb(53, 238, 222);
}

body {
    background-color: lightcyan;
}


h2 {
    text-align: center;
    text-decoration: underline;
    
}

.Computador {
    height: 100px;
    margin: auto;
    display: block;
}

p {
    display: block;
    margin: auto;
    text-align: center;
}

.Praticar {
    height: 80px;
    width: 100px;
    margin-top: 25px;
    margin-left: 800px;
}

.Praticar2 {
    height: 80px;
    width: 100px;
    margin-top: 25px;
    margin-left: 15px;
}

